# downlink interface
set / interface ethernet-1/1
set / interface ethernet-1/1 admin-state enable
set / interface ethernet-1/1 vlan-tagging true
set / interface ethernet-1/1 subinterface 1
set / interface ethernet-1/1 subinterface 1 type bridged
set / interface ethernet-1/1 subinterface 1 admin-state enable
set / interface ethernet-1/1 subinterface 1 vlan
set / interface ethernet-1/1 subinterface 1 vlan encap
set / interface ethernet-1/1 subinterface 1 vlan encap single-tagged
set / interface ethernet-1/1 subinterface 1 vlan encap single-tagged vlan-id 1

# uplink interfaces
set / interface ethernet-1/51
set / interface ethernet-1/51 admin-state enable
set / interface ethernet-1/51 subinterface 0
set / interface ethernet-1/51 subinterface 0 description to_spine1
set / interface ethernet-1/51 subinterface 0 ipv4
set / interface ethernet-1/51 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/51 subinterface 0 ipv4 address 100.21.13.2/30
set / interface ethernet-1/52
set / interface ethernet-1/52 admin-state enable
set / interface ethernet-1/52 subinterface 0
set / interface ethernet-1/52 subinterface 0 description to_spine2
set / interface ethernet-1/52 subinterface 0 ipv4
set / interface ethernet-1/52 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/52 subinterface 0 ipv4 address 100.22.13.2/30

# system interface
set / interface system0
set / interface system0 admin-state enable
set / interface system0 subinterface 0
set / interface system0 subinterface 0 ipv4
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.0.0.13/32

# ethernet segment definition
set / system network-instance
set / system network-instance protocols
set / system network-instance protocols evpn
set / system network-instance protocols evpn ethernet-segments
set / system network-instance protocols evpn ethernet-segments bgp-instance 1
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-SROS-Client2
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-SROS-Client2 admin-state enable
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-SROS-Client2 esi 02:02:02:02:02:02:02:02:02:02
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-SROS-Client2 multi-homing-mode all-active
set / system network-instance protocols evpn ethernet-segments bgp-instance 1 ethernet-segment ES-SROS-Client2 interface ethernet-1/1
set / system network-instance protocols bgp-vpn
set / system network-instance protocols bgp-vpn bgp-instance 1

# MAC-VRF definition
set / network-instance "MAC-VRF 1" type mac-vrf
set / network-instance "MAC-VRF 1" interface ethernet-1/1.1
set / network-instance "MAC-VRF 1" vxlan-interface vxlan0.1
set / network-instance "MAC-VRF 1" protocols
set / network-instance "MAC-VRF 1" protocols bgp-evpn
set / network-instance "MAC-VRF 1" protocols bgp-evpn bgp-instance 1
set / network-instance "MAC-VRF 1" protocols bgp-evpn bgp-instance 1 admin-state enable
set / network-instance "MAC-VRF 1" protocols bgp-evpn bgp-instance 1 vxlan-interface vxlan0.1
set / network-instance "MAC-VRF 1" protocols bgp-evpn bgp-instance 1 evi 1
set / network-instance "MAC-VRF 1" protocols bgp-evpn bgp-instance 1 ecmp 2
set / network-instance "MAC-VRF 1" protocols bgp-vpn
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1 route-distinguisher
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1 route-distinguisher rd 1:13
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1 route-target
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1 route-target export-rt target:65011:1
set / network-instance "MAC-VRF 1" protocols bgp-vpn bgp-instance 1 route-target import-rt target:65011:1
set / network-instance "MAC-VRF 1" protocols igmp-snooping
set / network-instance "MAC-VRF 1" protocols igmp-snooping admin-state enable
set / network-instance "MAC-VRF 1" protocols igmp-snooping trace-options
set / network-instance "MAC-VRF 1" protocols igmp-snooping trace-options trace
set / network-instance "MAC-VRF 1" protocols igmp-snooping trace-options trace packet
set / network-instance "MAC-VRF 1" protocols igmp-snooping trace-options trace packet modifier egress-ingress-and-dropped
set / network-instance "MAC-VRF 1" protocols igmp-snooping interface ethernet-1/1.1
set / network-instance "MAC-VRF 1" protocols igmp-snooping interface ethernet-1/1.1 version 2
set / network-instance "MAC-VRF 1" protocols igmp-snooping interface ethernet-1/1.1 send-queries true

# default network-instance definition
set / network-instance default type default
set / network-instance default interface ethernet-1/51.0
set / network-instance default interface ethernet-1/52.0
set / network-instance default interface system0.0
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp autonomous-system 65013
set / network-instance default protocols bgp router-id 10.0.0.13
set / network-instance default protocols bgp ebgp-default-policy
set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp afi-safi ipv4-unicast
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp trace-options
set / network-instance default protocols bgp trace-options flag update
set / network-instance default protocols bgp trace-options flag update modifier detail
set / network-instance default protocols bgp group overlay
set / network-instance default protocols bgp group overlay peer-as 65555
set / network-instance default protocols bgp group overlay afi-safi evpn
set / network-instance default protocols bgp group overlay afi-safi evpn admin-state enable
set / network-instance default protocols bgp group overlay afi-safi ipv4-unicast
set / network-instance default protocols bgp group overlay afi-safi ipv4-unicast admin-state disable
set / network-instance default protocols bgp group overlay local-as
set / network-instance default protocols bgp group overlay local-as as-number 65555
set / network-instance default protocols bgp group overlay timers
set / network-instance default protocols bgp group overlay timers connect-retry 1
set / network-instance default protocols bgp group overlay timers minimum-advertisement-interval 1
set / network-instance default protocols bgp group overlay transport
set / network-instance default protocols bgp group overlay transport local-address 10.0.0.13
set / network-instance default protocols bgp group underlay
set / network-instance default protocols bgp group underlay export-policy [ system_ip ]
set / network-instance default protocols bgp group underlay afi-safi ipv4-unicast
set / network-instance default protocols bgp group underlay afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group underlay timers
set / network-instance default protocols bgp group underlay timers connect-retry 1
set / network-instance default protocols bgp group underlay timers minimum-advertisement-interval 1
set / network-instance default protocols bgp neighbor 10.0.0.21
set / network-instance default protocols bgp neighbor 10.0.0.21 peer-group overlay
set / network-instance default protocols bgp neighbor 10.0.0.22
set / network-instance default protocols bgp neighbor 10.0.0.22 peer-group overlay
set / network-instance default protocols bgp neighbor 100.21.13.1
set / network-instance default protocols bgp neighbor 100.21.13.1 peer-as 65020
set / network-instance default protocols bgp neighbor 100.21.13.1 peer-group underlay
set / network-instance default protocols bgp neighbor 100.22.13.1
set / network-instance default protocols bgp neighbor 100.22.13.1 peer-as 65020
set / network-instance default protocols bgp neighbor 100.22.13.1 peer-group underlay

# defining a routing policy to export the system IP address in eBGP
set / routing-policy
set / routing-policy prefix-set system_ip
set / routing-policy prefix-set system_ip prefix 10.0.0.13/32 mask-length-range exact
set / routing-policy policy system_ip
set / routing-policy policy system_ip statement 10
set / routing-policy policy system_ip statement 10 match
set / routing-policy policy system_ip statement 10 match prefix-set system_ip
set / routing-policy policy system_ip statement 10 action
set / routing-policy policy system_ip statement 10 action policy-result accept

set / tunnel-interface vxlan0
set / tunnel-interface vxlan0 vxlan-interface 1
set / tunnel-interface vxlan0 vxlan-interface 1 type bridged
set / tunnel-interface vxlan0 vxlan-interface 1 ingress
set / tunnel-interface vxlan0 vxlan-interface 1 ingress vni 1
set / tunnel-interface vxlan0 vxlan-interface 1 egress
set / tunnel-interface vxlan0 vxlan-interface 1 egress source-ip use-system-ipv4-address