# interfaces definition
set / interface ethernet-1/11
set / interface ethernet-1/11 admin-state enable
set / interface ethernet-1/11 subinterface 0
set / interface ethernet-1/11 subinterface 0 description to_leaf1
set / interface ethernet-1/11 subinterface 0 ipv4
set / interface ethernet-1/11 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/11 subinterface 0 ipv4 address 100.22.11.1/30
set / interface ethernet-1/12
set / interface ethernet-1/12 admin-state enable
set / interface ethernet-1/12 subinterface 0
set / interface ethernet-1/12 subinterface 0 description to_leaf2
set / interface ethernet-1/12 subinterface 0 ipv4
set / interface ethernet-1/12 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/12 subinterface 0 ipv4 address 100.22.12.1/30
set / interface ethernet-1/13
set / interface ethernet-1/13 admin-state enable
set / interface ethernet-1/13 subinterface 0
set / interface ethernet-1/13 subinterface 0 description to_leaf3
set / interface ethernet-1/13 subinterface 0 ipv4
set / interface ethernet-1/13 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/13 subinterface 0 ipv4 address 100.22.13.1/30
set / interface ethernet-1/14
set / interface ethernet-1/14 admin-state enable
set / interface ethernet-1/14 subinterface 0
set / interface ethernet-1/14 subinterface 0 description to_leaf4
set / interface ethernet-1/14 subinterface 0 ipv4
set / interface ethernet-1/14 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/14 subinterface 0 ipv4 address 100.22.14.1/30
set / interface ethernet-1/31
set / interface ethernet-1/31 admin-state enable
set / interface ethernet-1/31 subinterface 0
set / interface ethernet-1/31 subinterface 0 description to_dcgw1
set / interface ethernet-1/31 subinterface 0 ipv4
set / interface ethernet-1/31 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/31 subinterface 0 ipv4 address 100.31.22.2/30
set / interface ethernet-1/32
set / interface ethernet-1/32 admin-state enable
set / interface ethernet-1/32 subinterface 0
set / interface ethernet-1/32 subinterface 0 description to_dcgw2
set / interface ethernet-1/32 subinterface 0 ipv4
set / interface ethernet-1/32 subinterface 0 ipv4 admin-state enable
set / interface ethernet-1/32 subinterface 0 ipv4 address 100.32.22.2/30

# system interface
set / interface system0
set / interface system0 admin-state enable
set / interface system0 subinterface 0
set / interface system0 subinterface 0 ipv4
set / interface system0 subinterface 0 ipv4 admin-state enable
set / interface system0 subinterface 0 ipv4 address 10.0.0.22/32

# default network-instance definition
set / network-instance default
set / network-instance default type default
set / network-instance default interface ethernet-1/11.0
set / network-instance default interface ethernet-1/12.0
set / network-instance default interface ethernet-1/13.0
set / network-instance default interface ethernet-1/14.0
set / network-instance default interface ethernet-1/31.0
set / network-instance default interface ethernet-1/32.0
set / network-instance default interface system0.0

# configuring BGP for both underlay and overlay
set / network-instance default type default
set / network-instance default interface ethernet-1/11.0
set / network-instance default interface ethernet-1/12.0
set / network-instance default interface ethernet-1/13.0
set / network-instance default interface ethernet-1/14.0
set / network-instance default interface ethernet-1/31.0
set / network-instance default interface ethernet-1/32.0
set / network-instance default interface system0.0
set / network-instance default protocols
set / network-instance default protocols bgp
set / network-instance default protocols bgp autonomous-system 65020
set / network-instance default protocols bgp router-id 10.0.0.22
set / network-instance default protocols bgp dynamic-neighbors
set / network-instance default protocols bgp dynamic-neighbors accept
set / network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0
set / network-instance default protocols bgp dynamic-neighbors accept match 0.0.0.0/0 peer-group overlay
set / network-instance default protocols bgp ebgp-default-policy
set / network-instance default protocols bgp ebgp-default-policy import-reject-all false
set / network-instance default protocols bgp ebgp-default-policy export-reject-all false
set / network-instance default protocols bgp afi-safi ipv4-unicast
set / network-instance default protocols bgp afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group overlay
set / network-instance default protocols bgp group overlay peer-as 65555
set / network-instance default protocols bgp group overlay afi-safi evpn
set / network-instance default protocols bgp group overlay afi-safi evpn admin-state enable
set / network-instance default protocols bgp group overlay afi-safi ipv4-unicast
set / network-instance default protocols bgp group overlay afi-safi ipv4-unicast admin-state disable
set / network-instance default protocols bgp group overlay local-as
set / network-instance default protocols bgp group overlay local-as as-number 65555
set / network-instance default protocols bgp group overlay route-reflector
set / network-instance default protocols bgp group overlay route-reflector client true
set / network-instance default protocols bgp group overlay route-reflector cluster-id 10.10.10.10
set / network-instance default protocols bgp group overlay timers
set / network-instance default protocols bgp group overlay timers connect-retry 1
set / network-instance default protocols bgp group overlay timers minimum-advertisement-interval 1
set / network-instance default protocols bgp group overlay transport
set / network-instance default protocols bgp group overlay transport local-address 10.0.0.22
set / network-instance default protocols bgp group underlay
set / network-instance default protocols bgp group underlay export-policy system_ip
set / network-instance default protocols bgp group underlay afi-safi ipv4-unicast
set / network-instance default protocols bgp group underlay afi-safi ipv4-unicast admin-state enable
set / network-instance default protocols bgp group underlay timers
set / network-instance default protocols bgp group underlay timers connect-retry 1
set / network-instance default protocols bgp group underlay timers minimum-advertisement-interval 1
set / network-instance default protocols bgp neighbor 100.22.11.2
set / network-instance default protocols bgp neighbor 100.22.11.2 peer-as 65011
set / network-instance default protocols bgp neighbor 100.22.11.2 peer-group underlay
set / network-instance default protocols bgp neighbor 100.22.12.2
set / network-instance default protocols bgp neighbor 100.22.12.2 peer-as 65012
set / network-instance default protocols bgp neighbor 100.22.12.2 peer-group underlay
set / network-instance default protocols bgp neighbor 100.22.13.2
set / network-instance default protocols bgp neighbor 100.22.13.2 peer-as 65013
set / network-instance default protocols bgp neighbor 100.22.13.2 peer-group underlay
set / network-instance default protocols bgp neighbor 100.22.14.2
set / network-instance default protocols bgp neighbor 100.22.14.2 peer-as 65014
set / network-instance default protocols bgp neighbor 100.22.14.2 peer-group underlay
set / network-instance default protocols bgp neighbor 100.31.22.1
set / network-instance default protocols bgp neighbor 100.31.22.1 peer-as 65030
set / network-instance default protocols bgp neighbor 100.31.22.1 peer-group underlay
set / network-instance default protocols bgp neighbor 100.32.22.1
set / network-instance default protocols bgp neighbor 100.32.22.1 peer-as 65030
set / network-instance default protocols bgp neighbor 100.32.22.1 peer-group underlay

# defining a routing policy to export the system IP address in eBGP
set / routing-policy
set / routing-policy prefix-set system_ip
set / routing-policy prefix-set system_ip prefix 10.0.0.22/32 mask-length-range exact
set / routing-policy policy system_ip
set / routing-policy policy system_ip statement 10
set / routing-policy policy system_ip statement 10 match
set / routing-policy policy system_ip statement 10 match prefix-set system_ip
set / routing-policy policy system_ip statement 10 action
set / routing-policy policy system_ip statement 10 action policy-result accept